
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100&family=Roboto:wght@400;900&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family: 'Hanken Grotesk', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0% auto;
}

.container{
    width: 100%;
    padding: 5%;
    background-color: #23424A;
    color: white;
}

.intro{
    width: 50%;
    max-width: 700px;
}

h1{
    font-weight: 900;
    font-size: 3rem;
}

p{
    font-weight: 400;
    font-size: 1.3rem;
}
.intro-par{
    margin-bottom: 10%;
}

a{
    border-radius: 2em ;
    background-color: #38CFD9;
    font-weight: 900;
    text-decoration: none;
    color: #23424A;
    padding: 1em 2.5em;
    cursor: pointer;
}
a:hover{
    opacity: 0.7;
}

.container-2{
    padding: 5%;
}

.row{
    display: flex;
    gap: 5%;
    text-align: center;
}

.col{
    font-weight: 900;
    font-size: 2.2rem;
    color: #87629A;
}