
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100&family=Roboto:wght@400;900&display=swap');

*,*::before, *::after {
    box-sizing: border-box;
}

body{
    font-family: 'Hanken Grotesk', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0% auto;
}

.container{
    width: 100%;
    padding: 5%;
    background-color: #23424A;
    color: white;
}

.intro{
    width: 50%;
    max-width: 700px;
}

h1{
    font-weight: 900;
    font-size: 3rem;
}

p{
    font-weight: 400;
    font-size: 1.3rem;
}
.container p{
    margin-bottom: 10%;
}

.btn{
    display: inline-block;
    background-color: #38CFD9;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    color: #23424A;
    padding: .75em 2em;
    border-radius: 100px;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.7;
}

.container-2{
    padding: 5%;
}

@media only screen and (max-width: 750px) {
    .row{
       flex-wrap: wrap;
    }
    .container-3{
        flex-wrap: wrap;
    }

  }

.row{
    display: flex;
    gap: 5%;
    text-align: center;
}

.col{
    font-weight: 900;
    font-size: 2.2rem;
    color: #87629A;
}

.container-3{
    display: flex;
    background-color: #136C72;
    color: white;
    padding: 5%;
    gap: 5%;
    text-align: center;
}

.colm{
    font-weight: 900;
    font-size: 2.2rem;
    font-weight: 900;
}